{
  "root": true,
  "extends": [
    "plugin:compat/recommended",
    "plugin:vue/essential",
    "@vue/prettier"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": ["compat"],
  "rules": {
    "compat/compat": "warn",
    "semi": [
      "error",
      "always"
    ],
    "indent": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false
    }],
    "standard/no-callback-literal": "off",
    "class-methods-use-this": "warn",
    "no-mixed-operators": ["error", {
      "allowSamePrecedence": true
    }]
  }
}
